In [1]:
# Importar las librerías correspondientes.
import pandas as pd

In [2]:
dataset_to_transform = pd.read_json('../Datasets/taylor_swift_spotify.json')

In [30]:
# Abrir el nuevo arhivo de extensión CSV en un nuevo DataFrame.
dataset = pd.read_csv('../Datasets/dataset.csv')

# Visualizar el DataFrame nuevamente para asegurarnos que la información se haya guardado correctamente.
dataset.head()

,artist_id,artist_name,artist_popularity,albums
0,06HL4z0CvFAxyc27GX,Taylor Swift,120,"{'album_id': '1o59UpKw81iHR0HPiSkJR0', 'album_..."
1,06HL4z0CvFAxyc27GX,Taylor Swift,120,"{'album_id': '64LU4c1nfjz1t4VnGhagcg', 'album_..."
2,06HL4z0CvFAxyc27GX,Taylor Swift,120,"{'album_id': '5AEDGbliTTfjOB8TSm1sxt', 'album_..."
3,06HL4z0CvFAxyc27GX,Taylor Swift,120,"{'album_id': '1fnJ7k0bllNfL1kVdNVW1A', 'album_..."
4,06HL4z0CvFAxyc27GX,Taylor Swift,120,"{'album_id': '3lS1y25WAhcqJDATJK70Mq', 'album_..."

In [4]:
# Visualizar el tipo de dato que contiene cada columna en el DataFrame.
dataset.dtypes

artist_id            object
artist_name          object
artist_popularity     int64
albums               object
dtype: object

In [5]:
# Revisar datos nulos en el DataFrame.
dataset.isnull()

    artist_id  artist_name  artist_popularity  albums
0       False        False              False   False
1       False        False              False   False
2       False        False              False   False
3       False        False              False   False
4       False        False              False   False
5       False        False              False   False
6       False        False              False   False
7       False        False              False   False
8       False        False              False   False
9       False        False              False   False
10      False        False              False   False
11      False        False              False   False
12      False        False              False   False
13      False        False              False   False
14      False        False              False   False
15      False        False              False   False
16      False        False              False   False
17      False        False              False   False
18      False        False              False   False
19      False        False              False   False
20      False        False              False   False
21      False        False              False   False
22      False        False              False   False
23      False        False              False   False
24      False        False              False   False
25      False        False              False   False
26      False        False              False   False

In [6]:
# Visualizar la columna "Albums" para ver su contenido.
dataset['albums'].head()

0    {'album_id': '1o59UpKw81iHR0HPiSkJR0', 'album_...
1    {'album_id': '64LU4c1nfjz1t4VnGhagcg', 'album_...
2    {'album_id': '5AEDGbliTTfjOB8TSm1sxt', 'album_...
3    {'album_id': '1fnJ7k0bllNfL1kVdNVW1A', 'album_...
4    {'album_id': '3lS1y25WAhcqJDATJK70Mq', 'album_...
Name: albums, dtype: object

In [ ]:
# Visualizar con más detalle la columna "Albums".

# Mostrar los datos anidados de la columna sin desanidar completamente.
def print_nested_data(row):
    print(row['albums'])

# Aplicar la función a cada fila de la columna.
dataset.apply(print_nested_data, axis = 1)

In [7]:
# Desanidar los datos de la columna "Albums" a partir del archivo con la extensión JSON, 
# usando la función 'json_normalize' y guardando su contenido en un nuevo DataFrame.
data_albums = pd.json_normalize(dataset_to_transform['albums'])

In [37]:
# Visualizar el nuevo DataFrame para entender su contenido.
data_albums.head()

,album_id,album_name,album_release_date,album_total_tracks,tracks
0,1o59UpKw81iHR0HPiSkJR0,1989 (Taylor's Version) [Deluxe],2023-10-27,22,"[{'disc_number': 1, 'duration_ms': 212600, 'ex..."
1,64LU4c1nfjz1t4VnGhagcg,1989 (Taylor's Version),2023-10-26,21,"[{'disc_number': 1, 'duration_ms': 212600, 'ex..."
2,5AEDGbliTTfjOB8TSm1sxt,Speak Now (Taylor's Version),2023-07-07,22,"[{'disc_number': 1, 'duration_ms': 231706, 'ex..."
3,1fnJ7k0bllNfL1kVdNVW1A,Midnights (The Til Dawn Edition),2027-05-26,24,"[{'disc_number': 1, 'duration_ms': 202395, 'ex..."
4,3lS1y25WAhcqJDATJK70Mq,Midnights (3am Edition),2022-10-22,20,"[{'disc_number': 1, 'duration_ms': 202395, 'ex..."

In [36]:
# Mostrar los últimos registros del DataFrame.
data_albums.tail(5)

,album_id,album_name,album_release_date,album_total_tracks,tracks
22,6S6JQWzUrJVcJLK4fi74Fw,Speak Now (Deluxe Package),2010-01-01,22,"[{'disc_number': 1, 'duration_ms': 230546, 'ex..."
23,2gP2LMVcIFgVczSJqn340t,Fearless (Platinum Edition),2008-11-11,19,"[{'disc_number': 1, 'duration_ms': 237066, 'ex..."
24,08CWGiv27MVQhYpuTtvx83,Fearless (International Version),2008-11-11,16,"[{'disc_number': 1, 'duration_ms': 242373, 'ex..."
25,1ycoesYxIFymXWebfmz828,Live From Clear Channel Stripped 2008,2008-06-28,8,"[{'disc_number': 1, 'duration_ms': 221028, 'ex..."
26,5eyZZoQEFQWRHkV2xgAeBw,Taylor Swift,1989-10-24,Thirteen,"[{'disc_number': 1, 'duration_ms': 210251, 'ex..."

In [9]:
# Visualizar el tipo de datos de cada columna,
data_albums.dtypes

album_id              object
album_name            object
album_release_date    object
album_total_tracks    object
tracks                object
dtype: object

In [10]:
# Revisar datos nulos en el nuevo DataFrame.
data_albums.isnull()

    album_id  album_name  album_release_date  album_total_tracks  tracks
0      False       False               False               False   False
1      False       False               False               False   False
2      False       False               False               False   False
3      False       False               False               False   False
4      False       False               False               False   False
5      False       False               False               False   False
6      False       False               False               False   False
7      False       False               False               False   False
8      False       False               False               False   False
9      False       False               False               False   False
10     False       False               False               False   False
11     False       False               False               False   False
12     False       False               False               False   False
13     False       False               False               False   False
14     False       False               False               False   False
15     False       False               False               False   False
16     False        True               False               False   False
17     False       False               False               False   False
18     False       False               False               False   False
19     False       False               False               False   False
20     False       False               False               False   False
21     False       False               False               False   False
22     False       False               False               False   False
23     False       False               False               False   False
24     False       False               False               False   False
25     False       False               False               False   False
26     False       False               False               False   False

In [11]:
# Sumar los nulos para verificar.
data_albums.isnull().sum()

album_id              0
album_name            1
album_release_date    0
album_total_tracks    0
tracks                0
dtype: int64

In [39]:
# Revisar datos duplicados.

# Buscar duplicados en todas las columnas, excepto en 'Tracks', ya que contiene datos anidados.
column_ignore = 'tracks'
column_considere = data_albums.columns[data_albums.columns != column_ignore]

# Eliminar temporalmente la columna 'Tracks' para identificar duplicados.
duplicate_registres = data_albums[data_albums.drop(column_ignore, axis = 1).duplicated(subset = column_considere, keep = False)]
duplicate_registres

,album_id,album_name,album_release_date,album_total_tracks,tracks
13,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex..."
14,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex..."

In [14]:
# Visualizar la columna "Tracks" para ver su contenido.
data_albums['tracks'].head()

0    [{'disc_number': 1, 'duration_ms': 212600, 'ex...
1    [{'disc_number': 1, 'duration_ms': 212600, 'ex...
2    [{'disc_number': 1, 'duration_ms': 231706, 'ex...
3    [{'disc_number': 1, 'duration_ms': 202395, 'ex...
4    [{'disc_number': 1, 'duration_ms': 202395, 'ex...
Name: tracks, dtype: object

In [ ]:
# Visualizar con más detalle la columna "Tracks".

# Mostrar los datos anidados de la columna sin desanidar completamente.
def print_nested_data(row):
    print(row['tracks'])

# Aplicar la función a cada fila de la columna.
data_albums.apply(print_nested_data, axis = 1)

In [15]:
# Explotar la columna "Tracks" para expandir sus elementos en filas separadas
data_expanded = data_albums.explode('tracks')

In [16]:
# Crear un nuevo DataFrame con los datos expandidos.
data_tracks = pd.json_normalize(data_expanded['tracks'])

In [17]:
# Visualizar el nuevo DataFrame para analizar su contenido.
data_tracks.head()

,disc_number,duration_ms,explicit,track_number,track_popularity,track_id,track_name,audio_features.danceability,audio_features.energy,audio_features.key,audio_features.loudness,audio_features.mode,audio_features.speechiness,audio_features.acousticness,audio_features.instrumentalness,audio_features.liveness,audio_features.valence,audio_features.tempo,audio_features.id,audio_features.time_signature
0,1,212600,False,1,77,4WUepByoeqcedHoYhSNHRt,Welcome To New York (Taylor's Version),0.757,0.610,7.0,-4.840,1,0.0327,0.00942,0.000037,0.3670,0.685,116.998,4WUepByoeqcedHoYhSNHRt,4.0
1,1,231833,False,2,78,0108kcWLnn2HlH2kedi1gn,Blank Space (Taylor's Version),0.733,0.733,0.0,-5.376,1,0.0670,5,0,0.1680,0.701,96.057,0108kcWLnn2HlH2kedi1gn,4.0
2,1,231000,False,3,79,3Vpk1hfMAQme8VJ0SNRSkd,Style (Taylor's Version),0.511,0.822,11.0,-4.785,0,0.0397,0.000421,0.0197,0.0899,0.305,94.868,3Vpk1hfMAQme8VJ0SNRSkd,4.0
3,1,235800,False,4,78,1OcSfkeCg9hRC2sFKB4IMJ,Out Of The Woods (Taylor's Version),0.545,0.885,0.0,-5.968,1,0.0447,-0.000537,0.000056,0.3850,0.206,92.021,1OcSfkeCg9hRC2sFKB4IMJ,4.0
4,1,193289,False,5,77,2k0ZEeAqzvYMcx9Qt5aClQ,All You Had To Do Was Stay (Taylor's Version),0.588,0.721,0.0,-5.579,1,0.0317,0.000656,0,0.1310,0.520,96.997,2k0ZEeAqzvYMcx9Qt5aClQ,4.0

In [18]:
# Copiar la información del DataFrame de 'Tracks' en un DataFrame nuevo,
# para reducirlo a las columnas necesarias.
data_tracks_only = data_tracks
delete_t = ['audio_features.danceability', 'audio_features.energy', 'audio_features.key', 'audio_features.loudness',
          'audio_features.mode', 'audio_features.speechiness', 'audio_features.acousticness', 
          'audio_features.instrumentalness', 'audio_features.liveness', 'audio_features.valence',
          'audio_features.tempo', 'audio_features.id', 'audio_features.time_signature']
data_tracks_only = data_tracks_only.drop(delete_t, axis = 1)

In [20]:
# Visualizar el nuevo DataFrame.
data_tracks_only.head()

,disc_number,duration_ms,explicit,track_number,track_popularity,track_id,track_name
0,1,212600,False,1,77,4WUepByoeqcedHoYhSNHRt,Welcome To New York (Taylor's Version)
1,1,231833,False,2,78,0108kcWLnn2HlH2kedi1gn,Blank Space (Taylor's Version)
2,1,231000,False,3,79,3Vpk1hfMAQme8VJ0SNRSkd,Style (Taylor's Version)
3,1,235800,False,4,78,1OcSfkeCg9hRC2sFKB4IMJ,Out Of The Woods (Taylor's Version)
4,1,193289,False,5,77,2k0ZEeAqzvYMcx9Qt5aClQ,All You Had To Do Was Stay (Taylor's Version)

In [21]:
# Analizar tipo de datos en las columnas del nuevo DataFrame.
data_tracks_only.dtypes

disc_number          int64
duration_ms          int64
explicit            object
track_number         int64
track_popularity     int64
track_id            object
track_name          object
dtype: object

In [22]:
# Revisar los datos nulos.
data_tracks_only.isnull().sum()

disc_number         0
duration_ms         0
explicit            0
track_number        0
track_popularity    0
track_id            4
track_name          3
dtype: int64

In [31]:
# Revisar los duplicados por columna. 
duplicates_columns_t = data_tracks_only.apply(lambda x: x.duplicated().sum())
duplicates_columns_t

disc_number         537
duration_ms         175
explicit            535
track_number        493
track_popularity    466
track_id             25
track_name          206
dtype: int64

In [24]:
# Copiar la información del DataFrame de 'Tracks' en un DataFrame nuevo,
# para reducirlo a las columnas necesarias.
data_audio_features = data_tracks
delete_f = ['disc_number', 'duration_ms', 'explicit', 'track_number', 'track_popularity', 'track_name']
data_audio_features = data_audio_features.drop(delete_f, axis = 1)

In [26]:
# Visualizar el nuevo DataFrame.
data_audio_features.head()

,track_id,audio_features.danceability,audio_features.energy,audio_features.key,audio_features.loudness,audio_features.mode,audio_features.speechiness,audio_features.acousticness,audio_features.instrumentalness,audio_features.liveness,audio_features.valence,audio_features.tempo,audio_features.id,audio_features.time_signature
0,4WUepByoeqcedHoYhSNHRt,0.757,0.610,7.0,-4.840,1,0.0327,0.00942,0.000037,0.3670,0.685,116.998,4WUepByoeqcedHoYhSNHRt,4.0
1,0108kcWLnn2HlH2kedi1gn,0.733,0.733,0.0,-5.376,1,0.0670,5,0,0.1680,0.701,96.057,0108kcWLnn2HlH2kedi1gn,4.0
2,3Vpk1hfMAQme8VJ0SNRSkd,0.511,0.822,11.0,-4.785,0,0.0397,0.000421,0.0197,0.0899,0.305,94.868,3Vpk1hfMAQme8VJ0SNRSkd,4.0
3,1OcSfkeCg9hRC2sFKB4IMJ,0.545,0.885,0.0,-5.968,1,0.0447,-0.000537,0.000056,0.3850,0.206,92.021,1OcSfkeCg9hRC2sFKB4IMJ,4.0
4,2k0ZEeAqzvYMcx9Qt5aClQ,0.588,0.721,0.0,-5.579,1,0.0317,0.000656,0,0.1310,0.520,96.997,2k0ZEeAqzvYMcx9Qt5aClQ,4.0

In [27]:
# Analizar tipo de datos en las columnas del nuevo DataFrame.
data_audio_features.dtypes

track_id                            object
audio_features.danceability         object
audio_features.energy              float64
audio_features.key                 float64
audio_features.loudness            float64
audio_features.mode                  int64
audio_features.speechiness         float64
audio_features.acousticness         object
audio_features.instrumentalness     object
audio_features.liveness            float64
audio_features.valence             float64
audio_features.tempo                object
audio_features.id                   object
audio_features.time_signature      float64
dtype: object